In [2]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)

In [3]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.25.csv")

def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") == 2).then(pl.lit(1)).sum().alias("num2"),
        pl.when(pl.col("deg") == 3).then(pl.lit(1)).sum().alias("num3"),
        pl.when(pl.col("deg") > 3).then(pl.lit(1)).sum().alias("num>3"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort(
        "ihc_score", "mean_y", "case",
        descending=[False, True, False]
    ) \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)

In [9]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.1.csv")

def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") == 2).then(pl.lit(1)).sum().alias("num2"),
        pl.when(pl.col("deg") == 3).then(pl.lit(1)).sum().alias("num3"),
        pl.when(pl.col("deg") > 3).then(pl.lit(1)).sum().alias("num>3"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort(
        "ihc_score", "mean_y", "case",
        descending=[False, True, False]
    ) \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)

In [5]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.01.csv")

def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") == 2).then(pl.lit(1)).sum().alias("num2"),
        pl.when(pl.col("deg") == 3).then(pl.lit(1)).sum().alias("num3"),
        pl.when(pl.col("deg") > 3).then(pl.lit(1)).sum().alias("num>3"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort(
        "ihc_score", "mean_y", "case",
        descending=[False, True, False]
    ) \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)

In [6]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.5.csv")

def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") == 2).then(pl.lit(1)).sum().alias("num2"),
        pl.when(pl.col("deg") == 3).then(pl.lit(1)).sum().alias("num3"),
        pl.when(pl.col("deg") > 3).then(pl.lit(1)).sum().alias("num>3"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort(
        "ihc_score", "mean_y", "case",
        descending=[False, True, False]
    ) \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)

In [7]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.4.csv")

def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") == 2).then(pl.lit(1)).sum().alias("num2"),
        pl.when(pl.col("deg") == 3).then(pl.lit(1)).sum().alias("num3"),
        pl.when(pl.col("deg") > 3).then(pl.lit(1)).sum().alias("num>3"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort(
        "ihc_score", "mean_y", "case",
        descending=[False, True, False]
    ) \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)