In [1]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)

In [2]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.25.csv")

In [11]:
def color_rows(row):
    if row['label'] == 0:
        return ['background-color: darkgreen'] * len(row)
    else:
        return ['background-color: darkred'] * len(row)

df \
    .group_by("case") \
    .agg(
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") > 1).then(pl.lit(1)).sum().alias("num>1"),
        pl.col("n").mean(),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort("ihc_score", "avg_param_v1", "case") \
    .filter(
        pl.col("ihc_score").is_in(["2-", "2+"])
    ) \
    .sort("ihc_score", descending=True) \
    .to_pandas() \
    .style.apply(color_rows, axis=1)