In [1]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)

In [2]:
df = pl.read_csv("/home/surayuth/her2/extracted_features/linefeat|scale_0.25|minhole_10|maxhole_1000|maxres_0.25.csv")

In [4]:
df \
    .group_by("case") \
    .agg(
        pl.col("n").mean(),
        pl.len().alias("count"),
        pl.when(pl.col("deg") == 0).then(pl.lit(1)).sum().alias("num0"),
        pl.when(pl.col("deg") == 1).then(pl.lit(1)).sum().alias("num1"),
        pl.when(pl.col("deg") > 1).then(pl.lit(1)).sum().alias("num>1"),
        pl.when(pl.col("deg") == 1).then(pl.col("param_v")).mean().alias("avg_param_v1"),
        pl.col("mean_y").mean(),
        pl.col("ihc_score").first(),
        pl.col("label").first()
    ) \
    .sort("ihc_score", "avg_param_v1", "case") \
    .to_pandas()

,case,n,count,num0,num1,num>1,avg_param_v1,mean_y,ihc_score,label
0,11 Oct HER2 0 case 1,0.000000,70,70,0,0,NaN,0.000000,0,0
1,11 Oct HER2 0 case 2,0.000000,30,30,0,0,NaN,0.000000,0,0
2,11 Oct HER2 0 case 3,0.000000,28,28,0,0,NaN,0.000000,0,0
3,13 Sep HER2 0 case 1,0.000000,48,48,0,0,NaN,0.000000,0,0
4,13 Sep HER2 0 case 2,0.000000,44,44,0,0,NaN,0.000000,0,0
5,21 Sep HER2 0 case 1,0.000000,55,55,0,0,NaN,0.000000,0,0
6,21 Sep HER2 score 0 case 2,0.000000,26,26,0,0,NaN,0.000000,0,0
7,21 Sep HER2 score 0 case 3,0.000000,31,31,0,0,NaN,0.000000,0,0
8,3 Sep HER2 0 Case 1,0.000000,56,56,0,0,NaN,0.000000,0,0
9,3 Sep HER2 0 case 2,0.000000,72,72,0,0,NaN,0.000000,0,0
10,3 Sep HER2 0 case 3,0.000000,66,66,0,0,NaN,0.000000,0,0
11,11 Oct HER2 1+ case 1,0.000000,13,13,0,0,NaN,0.000000,1+,0
12,11 Oct HER2 1+ case 2,0.000000,14,14,0,0,NaN,0.000000,1+,0
13,26 Sep HER2 1+ case 1,0.000000,31,31,0,0,NaN,0.000000,1+,0
14,26 Sep HER2 1+ case 2,0.000000,34,34,0,0,NaN,0.000000,1+,0
15,26 Sep HER2 1+ case 3,0.000000,28,28,0,0,NaN,0.000000,1+,0
16,26 Sep HER2 1+ case 4,0.000000,9,9,0,0,NaN,0.000000,1+,0
17,28 Jun HER2 1+ DISH -,0.000000,36,36,0,0,NaN,0.000000,1+,0
18,HER2 1+ DISH- 16 Aug,0.322581,31,29,2,0,15.888572,-0.184111,1+,0
19,21 Sep HER2 score 1,1.631579,19,11,8,0,17.825348,-1.149556,1+,0
20,26 Sep HER2 1+ case 5,1.222222,18,11,7,0,22.129423,-1.087540,1+,0
21,HER2 1+ case 01,16.833333,24,0,11,13,24.706896,-3.884579,1+,0
22,HER2 1+ case 02,16.254098,122,0,45,77,25.626795,-4.201154,1+,0
23,3 Sep HER2 1+,0.222222,9,8,1,0,59.783700,-0.299646,1+,0
24,HER2 2+ DISH+ case 03,17.333333,9,0,0,9,NaN,-4.449337,2+,1
25,HER2 2+ DISH+ case 08,52.218750,64,0,0,64,NaN,-5.018582,2+,1
26,HER2 2+ DISH+ case 11,8.400000,5,0,3,2,10.116331,-3.555394,2+,1
27,26 Sep HER2 2+ Dish+ case 2,6.500000,8,1,7,0,11.073576,-2.521505,2+,1
28,8 Nov HER2 2+ DISH +,36.772727,44,0,2,42,11.763162,-4.380503,2+,1
29,HER2 2+ DISH+ case 01,3.653846,26,11,12,3,12.516903,-1.708684,2+,1
30,28-08-23 HER2 2+ D+ Case 2,21.347222,72,1,32,39,12.825331,-3.578629,2+,1
31,HER2 2+ DISH+ case 05,17.130435,46,0,25,21,13.446852,-3.515701,2+,1
32,24 Feb HER2 2+ DISH+,31.122222,90,0,13,77,14.896413,-4.150868,2+,1
33,19 Nov 03 Her2 2+ D+,12.134615,104,8,58,38,15.088799,-3.097251,2+,1
34,HER2 2+ DISH+ case 09,18.252874,87,1,37,49,15.723277,-3.812679,2+,1
35,28 Jun IHC 2 + DISH +,14.923077,13,0,11,2,16.476914,-3.634291,2+,1
36,07 Dec 23 HER2 2+ D+,27.524324,185,0,58,127,16.613543,-4.545508,2+,1
37,HER2 2+ DISH+ case 06,29.833333,18,0,2,16,17.360183,-4.212921,2+,1
38,HER2 2+ DISH+ case 04,27.034483,58,0,7,51,17.720795,-4.593772,2+,1
39,15 Dec HER2 2+ DISH+,16.282609,46,0,33,13,18.255083,-3.790321,2+,1
40,19 Nov 02 Her2 2+ D+,34.428571,28,0,7,21,18.408527,-4.471157,2+,1
41,19 Nov 05 Her2 2+ D+,19.000000,17,0,9,8,20.147337,-4.026749,2+,1
42,30 Nov 23 HER2 2+ D+ 02,29.678195,665,64,82,519,20.148312,-4.219912,2+,1
43,30 Nov 23 HER2 2+ D+ 03,13.920000,25,0,18,7,20.634918,-3.691993,2+,1
44,26 Sep HER2 2+ DISH+ case 1,7.000000,9,0,8,1,20.659606,-2.983776,2+,1
45,30 Nov 23 HER2 2+ D+ 01,11.360000,25,1,23,1,21.157420,-3.470940,2+,1
46,30 Nov 23 HER2 2+ D+ 04,5.705882,51,8,39,4,21.291875,-2.594698,2+,1
47,26 Sep HER2 2+DISH+ case 3,8.384615,39,4,30,5,21.945371,-3.001711,2+,1
48,19 Nov 04 Her2 2+ D+,4.521739,23,12,10,1,22.182173,-1.481196,2+,1
49,24 Jan HER2+ DISH+,13.266667,165,0,104,61,23.031646,-3.612414,2+,1
50,19 Nov 01 Her2 2+ D+,14.873418,79,0,45,34,23.410348,-3.889759,2+,1
51,HER2 2+ DISH+ case 07,18.678571,28,0,13,15,23.813226,-4.424828,2+,1
52,28-08-23 HER2 2+ D+ Case 3,14.072165,97,2,64,31,24.214608,-3.686482,2+,1
53,HER2 2+ DISH+ case 10,18.400000,40,0,15,25,25.911265,-4.198548,2+,1
54,HER2 2+ DISH+ case 12,14.920000,75,0,14,61,26.452088,-4.302163,2+,1
55,28-08-23 HER2 2+ D+ Case 1,7.157895,57,3,51,3,27.545902,-3.209458,2+,1
56,28-08-23 HER2 2+ D+ Case 4,4.405405,37,12,22,3,27.711122,-2.047962,2+,1
57,13 Dec 03 HER2 2+ D+,3.376923,130,44,82,4,29.547793,-2.033599,2+,1
58,HER2 2+ DISH+ case 02,16.500000,2,0,1,1,33.034335,-4.969611,2+,1
59,17 Jan 23 HER2 2+ Dish - with Control,28.888889,18,0,0,18,NaN,-4.919535,2-,0
60,8 Nov HER2 2+ DISH - case 1,35.372881,59,0,0,59,NaN,-4.423744,2-,0
61,HER2 2+ DISH- case 06,0.000000,94,94,0,0,NaN,0.000000,2-,0
62,HER2 2+ DISH- case 04,33.326531,49,0,7,42,9.263654,-3.854093,2-,0
63,16 Aug 22 Case 3 HER2 2+ DISH -,17.190476,42,0,21,21,12.435671,-3.454986,2-,0
64,HER2 2+ DISH- case 03,21.437500,32,0,12,20,12.865398,-3.860313,2-,0
65,1 Sep HER2 2+ DISH - case 1,18.734694,49,0,20,29,16.277940,-3.940852,2-,0
66,22 Nov HER2 2+ DISH -,20.139344,122,1,51,70,16.552861,-3.941680,2-,0
67,HER2 2+ DISH-,22.800000,75,0,30,45,16.876436,-4.337363,2-,0
68,1 Sep HER2 2+ DISH - case 2,20.687500,64,0,31,33,17.139702,-4.084332,2-,0
69,18 Jan 23 HER2 2+ Dish - with Control,17.111111,18,3,10,5,18.477790,-3.225441,2-,0
70,HER2 2+ DISH- case 01,6.200000,10,1,7,2,22.239750,-2.862317,2-,0
71,8 Nov HER2 2+ DISH - case 2,9.666667,48,1,40,7,25.087925,-3.518324,2-,0
72,HER2 2+ DISH- case 02,7.590909,22,2,19,1,25.284306,-3.056150,2-,0
73,HER2 2+ DISH- case 05,8.254545,55,0,48,7,25.662395,-3.489168,2-,0
74,15 Dec HER2 2+ DISH- case 3,6.045455,44,6,35,3,26.757640,-2.864825,2-,0
75,16 Aug 22 Case 1 HER2 2+ DISH - Case,6.462963,54,7,42,5,27.334265,-2.952655,2-,0
76,HER2 2+ DISH- case 07,5.409639,83,29,49,5,28.076021,-2.227408,2-,0
77,15 Dec HER2 2+ DISH- case 4,9.526316,19,0,18,1,28.756767,-3.887789,2-,0
78,HER2 neg case 01,1.625000,8,4,3,1,31.481171,-1.440968,2-,0
79,15 Dec HER2 2+ DISH- case 2,6.571429,21,1,17,3,36.931751,-3.666784,2-,0
80,15 Dec HER2 2+ DISH- case 1,5.655172,29,2,25,2,38.183025,-3.133023,2-,0
81,28 Jun HER2 IHC negative,0.072727,55,54,1,0,38.818326,-0.053176,2-,0
82,16 Aug 22 Case 2 HER2 2+ Dish -,5.485714,35,1,33,1,46.025603,-3.476156,2-,0
83,1 Sep HER2 3+ DISH+ case 1,59.621622,37,0,0,37,NaN,-5.512053,3+,1
84,13 Sep HER2 different brightness,57.750000,20,0,0,20,NaN,-5.142791,3+,1
85,3 April HER2 3+ D+ case 2,36.265306,98,0,0,98,NaN,-4.843678,3+,1
86,30 Mar HER2 3+ D+ _3,34.212121,33,0,0,33,NaN,-4.575561,3+,1
87,30 Mar HER2 3+ D+_2,28.760870,46,0,0,46,NaN,-5.254868,3+,1
88,30 Mar HER2 3+ DISH +_1,33.371681,113,0,0,113,NaN,-5.427277,3+,1
89,30 Nov 23 HER2 3+ D+ 01,37.400000,5,0,0,5,NaN,-4.828653,3+,1
90,30 Nov HER2 3+ D+ case 2,56.372093,43,0,0,43,NaN,-5.372393,3+,1
91,9 Dec Her2 3+ D+ case 1,72.360656,122,0,0,122,NaN,-5.341656,3+,1
92,HER2 3+ DISH + 16 AUG case 1,63.048780,41,0,0,41,NaN,-5.225848,3+,1
93,HER2 3+ case 01,52.444444,9,0,0,9,NaN,-5.013037,3+,1
94,HER2 3+ case 02,59.050000,100,0,0,100,NaN,-4.905286,3+,1
95,HER2 3+ case 03,44.500000,16,0,0,16,NaN,-5.483004,3+,1
96,HER2 3+ DISH+ 16 AUG case 2,37.309091,55,0,1,54,10.900257,-4.572034,3+,1
97,7 Dec 23 HER2 3+ D+ 01,43.270270,148,0,1,147,11.182152,-4.979615,3+,1
98,09 Nov 22 3+ DISH+,37.500000,14,0,1,13,12.421803,-4.732389,3+,1
99,30 Nov HER2 3+ D+ case 1,38.618421,76,0,2,74,15.992205,-5.280681,3+,1
100,29 Nov 22 HER2 3+ DISH+,33.464481,183,0,12,171,16.081011,-5.037404,3+,1
101,2 Dec HER2 3+ D + case 1,54.843750,192,0,2,190,16.145494,-4.981974,3+,1
102,3 April HER2 3+ D+ case 1,23.301887,53,0,1,52,18.771715,-5.125892,3+,1
103,16 April HER2 3+ D+_1,30.364407,236,0,4,232,19.235481,-5.054411,3+,1