In [11]:
import polars as pl
import seaborn as sns

In [12]:
df = pl.read_csv("/home/surayuth/her2/results/baseline_feat|level_32/color/16_2_color.csv")

In [13]:
df \
    .group_by("case") \
    .agg(
        pl.col("label").first(),
        pl.col("ihc_score").first(),
        pl.col("prob").mean().alias("avg")
    ) \
    .with_columns(
        pl.when(pl.col("avg") > 0.5).then(1).otherwise(0)
        .alias("pred")
    ) \
    .sort("label", "ihc_score") \
    .to_pandas()

                                     case  label ihc_score       avg  pred
0                    11 Oct HER2 0 case 2      0         0  0.066102     0
1                    11 Oct HER2 0 case 3      0         0  0.318683     0
2                    21 Sep HER2 0 case 1      0         0  0.450297     0
3                   11 Oct HER2 1+ case 1      0        1+  0.198857     0
4                   28 Jun HER2 1+ DISH -      0        1+  0.517025     1
5                     21 Sep HER2 score 1      0        1+  0.503298     1
6                   HER2 2+ DISH- case 05      0        2-  0.441081     0
7                   HER2 2+ DISH- case 02      0        2-  0.480038     0
8             8 Nov HER2 2+ DISH - case 1      0        2-  0.560927     1
9             1 Sep HER2 2+ DISH - case 1      0        2-  0.341987     0
10  17 Jan 23 HER2 2+ Dish - with Control      0        2-  0.564036     1
11             28-08-23 HER2 2+ D+ Case 3      1        2+  0.591180     1
12                   24 Feb HER2 2+ DISH+      1        2+  0.643982     1
13             26 Sep HER2 2+DISH+ case 3      1        2+  0.703210     1
14                  28 Jun IHC 2 + DISH +      1        2+  0.592037     1
15                  HER2 2+ DISH+ case 05      1        2+  0.806713     1
16             28-08-23 HER2 2+ D+ Case 4      1        2+  0.682909     1
17             28-08-23 HER2 2+ D+ Case 2      1        2+  0.575201     1
18                30 Mar HER2 3+ DISH +_1      1        3+  0.827043     1
19             1 Sep HER2 3+ DISH+ case 1      1        3+  0.601967     1
20            HER2 3+ DISH+ 16 AUG case 2      1        3+  0.563531     1
21                 7 Dec 23 HER2 3+ D+ 01      1        3+  0.497549     0
22                     09 Nov 22 3+ DISH+      1        3+  0.814471     1

In [14]:
# from glob import glob

# paths = glob("../Data_Chula/*/*")
# df = pl.DataFrame({"path": paths})
# df.write_csv("selected_data_path.csv")